body{
    background-color: #eee8aa;
}

main{
    background-color: #fffacd;
    font-size: 15px;
}

footer{
    font-family: Helvetica, Arial, sans-serif;
}

.skip{
    display: block;
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    margin: 10px;
    background-color: #800080;
    color: #ffffff;
    opacity: 0;
    width: 200px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 1000;
    border-radius: 5px;
    text-decoration: none;
}

.skip:focus{
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

nav{
    display: inline-block;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

header div{
    background-image: url("../images/touch-2579147_1280.jpg");
    background-color: #000000;
    height: 200px;
    background-position: center;
    background-size: cover;
}

header nav ul,
footer nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin-left: -40px;
}

header nav a,
footer nav a{
    display: block;
    color: #ffffff;
    background-color: #a52a2a;
    padding: 5px;
    border: 10px solid #a52a2a;
    margin: 50px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

header nav a:hover,
header nav a:focus,
footer nav a:hover,
footer nav a:focus{
    display: block;
    background-color: #800080;
    padding: 5px;
    border: 10px solid #800080;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 1000;
}

.current{
    background-color: #008080;
    padding: 5px;
    border: 10px solid #008080;
    border-radius: 50px;
    font-weight: 500;
}

h1{
    text-align: center;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #008080;
}

h2, p{
    font-family: Helvetica, Arial, sans-serif;
}

h2{
    padding-top: 10px;
    padding-left: 20px;
}

p{
    line-height: 22px;
    padding: 10px;
}

img{
    border: 2px solid #ff4500;
    padding: 3px;
    margin: 10px;
}

section ul,
.thingsTopNav ul{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    list-style-type: none;
    margin-left: -40px;
}

.thingsTopNav a{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.gallery{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
}

.things img{
    width: 100%;
    opacity: 0.5;
}

.things img:hover{
    opacity: 1;
    border-radius: 10px;
}

.galleryNavigation{
    display: inline-block;
    width: 75%;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: -40px;
}

.things h2{
    display: inline-block;
    position: relative;
    width: 20%;
}

.things nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin-left: -40px;
}

.things nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 1000;
}

.home,
.books{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.books img{
    border-radius: 100%;
}

.books img:nth-child(odd){
    border-radius: 30px;
}